{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}dashboard{% endblock %}

{% block body_class %}Dashboard{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {{ user }} dashboard
        </div>
    </section>

    <div class="container">
        {% include "_messages.html" %}
        {% for v in vinculums %}
            <LI> {{ v.title }}</LI>
            <LI> {{ v.input_paths }}</LI>
            <LI> {{ v.id }}</LI>
        {% endfor %}
    </div>

    

{% endblock %}
